<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuanhe.gmall.product.mapper.TrademarkMapper">
    <resultMap id="BaseResult" type="com.xuanhe.gmall.model.product.BaseTrademark">
        <id property="id" column="id"/>
        <result property="logoUrl" column="logo_url"/>
        <result property="tmName" column="tm_name"/>
    </resultMap>
    <select id="getTrademarkList" resultMap="BaseResult">
        select * from base_trademark
    </select>
    <select id="getTotal" resultType="java.lang.Integer">
        select count(*) from  base_trademark
    </select>
    <select id="getBaseTrademarkPage" resultMap="BaseResult">
        select * from base_trademark
        limit #{start},#{size}
    </select>
</mapper>