<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuanhe.gmall.payment.mapper.PaymentMapper">
    <update id="updateStatus">
        update payment_info set payment_status=#{status} where out_trade_no=#{out_trade_no}
    </update>
    <select id="selectByOrderIdAndPaymentType" resultType="java.lang.Integer">
        select count(*) from payment_info where order_id=#{orderId} and payment_type=#{paymentType}
    </select>
</mapper>